In [1]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder
from sklearn.feature_extraction.text import TfidfVectorizer
import openpyxl

In [2]:
path = '../data/Consulta_JMA.xlsx'

df = pd.read_excel(path)
df.head()

,CodigoTarea,IDEmail,Cuerpo,FechaCreacion,Categoria,Idioma
0,1094561,1379091,"Buenos días Manuel,_x000d_\n_x000d_\nPasarme ...",2023-06-02,OMOD,E
1,1194837,1391986,"Hola,_x000d_\n_x000d_\n¿Espero que estés bien?...",2024-02-16,I,E
2,1225091,1391986,"Hola,_x000d_\n_x000d_\n¿Espero que estés bien?...",2024-04-25,I,E
3,1034918,1464101,"Buenos días,_x000d_\n_x000d_\n _x000d_\n_x000d...",2023-01-01,OMOD,E
4,1034932,1464115,Adjunto les enviamos PEDIDOS (PDF)_x000d_\n_x0...,2023-01-02,PMOD,E

In [3]:
df['Categoria'] = df['Categoria'].fillna("sin categoría")
df['Cuerpo'] = df['Cuerpo'].fillna("sin cuerpo")

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 67213 entries, 0 to 67212
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   CodigoTarea    67213 non-null  int64
 1   IDEmail        67213 non-null  int64
 2   Cuerpo         67213 non-null  object
 3   FechaCreacion  67213 non-null  datetime64[ns]
 4   Categoria      67213 non-null  object
 5   Idioma         67213 non-null  object
dtypes: datetime64[ns](1), int64(2), object(3)
memory usage: 3.1+ MB

In [5]:
df_grouped = df.groupby(by='CodigoTarea').agg({
    'IDEmail': 'first',
    'Cuerpo': 'first',
    'FechaCreacion': 'first',
    'Categoria': 'first',
    'Idioma': 'first'
}).reset_index()
df_grouped.head()

,CodigoTarea,IDEmail,Cuerpo,FechaCreacion,Categoria,Idioma
0,1034918,1464101,"Buenos días,_x000d_\n_x000d_\n _x000d_\n_x000d...",2023-01-01,OMOD,E
1,1034932,1464115,Adjunto les enviamos PEDIDOS (PDF)_x000d_\n_x0...,2023-01-02,PMOD,E
2,1034934,1464117,\t_x000d_\n\t_x000d_\n <http://imem.com/wp-con...,2023-01-02,OMOD,E
3,1034938,1464121,Proveedor: HIDRAL SA Dirección: carmen.diez@hi...,2023-01-02,PMOD,E
4,1034947,1464130,Bom dia _x000d_\n_x000d_\n _x000d_\n_x000d_\nN...,2023-01-02,OMOD,E

In [6]:
df_grouped[df_grouped['CodigoTarea'] == 1034918]

,CodigoTarea,IDEmail,Cuerpo,FechaCreacion,Categoria,Idioma
0,1034918,1464101,"Buenos días,_x000d_\n_x000d_\n _x000d_\n_x000d...",2023-01-01,OMOD,E

In [7]:
df_grouped['Categoria'].unique()

array(['OMOD', 'PMOD', 'PREP', 'I', 'OREP', 'SAT', 'SEG'], dtype=object)

In [8]:
df_grouped['Categoria'].value_counts()

Categoria
SEG     4306
OMOD    4021
OREP    3689
PREP    3499
PMOD    2999
I       1486
SAT     1386
Name: count, dtype: int64

In [9]:
df_grouped.shape

(21386, 6)

In [10]:
df_grouped['FechaCreacion'].max()

Timestamp('2024-10-18 00:00:00')

In [11]:
df_grouped['Idioma'].value_counts()

Idioma
E    21386
Name: count, dtype: int64

In [12]:
cleaning_data = df_grouped['Cuerpo'].iloc[3409]

In [13]:
import string
text_clean = "".join([i.lower() for i in cleaning_data if i not in string.punctuation])
text_clean

'buenas tardes x000d\nx000d\n x000d\nx000d\nsolicitamos precio y plazo del siguiente materialx000d\nx000d\n x000d\nx000d\nmanómetro adjunto en la foto hidralx000d\nx000d\n x000d\nx000d\nsaludos cordialesx000d\nx000d\n x000d\nx000d\natentamente x000d\nx000d\n x000d\nx000d\njuan carlos pérez piñerox000d\nspare parts department  field engineering  processesx000d\nx000d\n x000d\n t34 648 658 044 26726 tke10008000tkelevatorcom mailtotke10008000tkelevatorcom x000d\nx000d\ntk elevator slu avenida marcelino camacho nº 9 28830 san fernando de henares españa wwwtkelevatorcom httpwwwtkelevatorcom x000d\nx000d\n x000d\nx000d\n httpswwwtkelevatorcomesessostenibilidadsostenibilidad x000d\nx000d\n x000d\nx000d\naviso de confidencialidadx000d\nx000d\neste mensaje y los documentos adjuntos son confidenciales y se dirigen exclusivamente a la dirección mencionada anteriormente si recibió este correo electrónico accidentalmente elimínelo de su sistema y no lo envíe a terceros x000d\nsu dirección de correo electrónico junto con la información que nos facilite y nos haya facilitado son tratados por tk elevadores españa slu en calidad de responsable del tratamiento con la finalidad de gestionar y mantener los contactos y relaciones que se produzcan como consecuencia de la relación que mantiene con nosotros la base jurídica que legitima este tratamiento será su consentimiento el interés legítimo o la necesidad para gestionar una relación contractual o similarx000d\nel plazo de conservación de sus datos vendrá determinado por la relación que mantiene con nosotros para más información al respecto o para ejercer sus derechos de acceso rectificación cancelaciónsupresión oposición limitación o portabilidad dirija una comunicación por escrito a tk elevadores españa slu calle cifuentes sn 28021 madrid spain o por correo electrónico a lopdtkeestkelevatorcom mailtolopdtkeestkelevatorcom  acompañándose con fotocopia de dni o documento identificativo equivalentex000d\nx000d\n x000d\n'

In [28]:
import re
import nltk
from nltk.corpus import stopwords

# Asegúrate de descargar las stopwords
nltk.download('stopwords')

# Función para limpiar el texto
def clean_text(text):
    # Eliminar caracteres no deseados (como xd)
    text = re.sub(r'\bxd\b', '', text)
    
    # Eliminar caracteres no deseados (como x000d)
    text = re.sub(r'\bx000d\b', '', text)
    
    # Eliminar URLs y correos electrónicos
    text = re.sub(r'http\S+|www\S+|https\S+|mailto:\S+', '', text)
    
    # Mantener solo palabras en español (puedes ajustar esto según tus necesidades)
    # Convertir a minúsculas
    text = text.lower()
    # Eliminar caracteres no alfabéticos y espacios extra
    text = re.sub(r'[^a-záéíóúñü\s]', '', text)
    
    # Dividir el texto en palabras
    words = text.split()
    
    # Filtrar stopwords
    spanish_stopwords = set(stopwords.words('spanish'))
    filtered_words = [word for word in words if word not in spanish_stopwords]
    
    return ' '.join(filtered_words)

# Ejemplo de uso
raw_text = """buenas tardes x000d\nx000d\n x000d\nx000d\nsolicitamos precio y plazo del siguiente materialx000d\n..."""
cleaned_text = clean_text(text_clean)

print(cleaned_text)

buenas tardes solicitamos precio plazo siguiente materialxd manómetro adjunto foto hidralxd saludos cordialesxd atentamente juan carlos pérez piñeroxd spare parts department field engineering processesxd t tketkelevatorcom mailtotketkelevatorcom tk elevator slu avenida marcelino camacho n san fernando henares españa aviso confidencialidadxd mensaje documentos adjuntos confidenciales dirigen exclusivamente dirección mencionada anteriormente si recibió correo electrónico accidentalmente elimínelo sistema envíe terceros dirección correo electrónico junto información facilite facilitado tratados tk elevadores españa slu calidad responsable tratamiento finalidad gestionar mantener contactos relaciones produzcan consecuencia relación mantiene base jurídica legitima tratamiento consentimiento interés legítimo necesidad gestionar relación contractual similarxd plazo conservación datos vendrá determinado relación mantiene información respecto ejercer derechos acceso rectificación cancelaciónsupresión oposición limitación portabilidad dirija comunicación escrito tk elevadores españa slu calle cifuentes sn madrid spain correo electrónico lopdtkeestkelevatorcom mailtolopdtkeestkelevatorcom acompañándose fotocopia dni documento identificativo equivalentexd

[nltk_data] Downloading package stopwords to /home/jose-
[nltk_data]     manuel/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

In [15]:
cleaned_text

'buenas tardes solicitamos precio plazo siguiente materialxd manómetro adjunto foto hidralxd saludos cordialesxd atentamente juan carlos pérez piñeroxd spare parts department field engineering processesxd t tketkelevatorcom mailtotketkelevatorcom tk elevator slu avenida marcelino camacho n san fernando henares españa aviso confidencialidadxd mensaje documentos adjuntos confidenciales dirigen exclusivamente dirección mencionada anteriormente si recibió correo electrónico accidentalmente elimínelo sistema envíe terceros dirección correo electrónico junto información facilite facilitado tratados tk elevadores españa slu calidad responsable tratamiento finalidad gestionar mantener contactos relaciones produzcan consecuencia relación mantiene base jurídica legitima tratamiento consentimiento interés legítimo necesidad gestionar relación contractual similarxd plazo conservación datos vendrá determinado relación mantiene información respecto ejercer derechos acceso rectificación cancelaciónsupresión oposición limitación portabilidad dirija comunicación escrito tk elevadores españa slu calle cifuentes sn madrid spain correo electrónico lopdtkeestkelevatorcom mailtolopdtkeestkelevatorcom acompañándose fotocopia dni documento identificativo equivalentexd'

In [18]:
import nltk
nltk.download('punkt_tab')
nltk.tokenize.word_tokenize(cleaned_text)

[nltk_data] Downloading package punkt_tab to /home/jose-
[nltk_data]     manuel/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt_tab.zip.

['buenas',
 'tardes',
 'solicitamos',
 'precio',
 'plazo',
 'siguiente',
 'materialxd',
 'manómetro',
 'adjunto',
 'foto',
 'hidralxd',
 'saludos',
 'cordialesxd',
 'atentamente',
 'juan',
 'carlos',
 'pérez',
 'piñeroxd',
 'spare',
 'parts',
 'department',
 'field',
 'engineering',
 'processesxd',
 't',
 'tketkelevatorcom',
 'mailtotketkelevatorcom',
 'tk',
 'elevator',
 'slu',
 'avenida',
 'marcelino',
 'camacho',
 'n',
 'san',
 'fernando',
 'henares',
 'españa',
 'aviso',
 'confidencialidadxd',
 'mensaje',
 'documentos',
 'adjuntos',
 'confidenciales',
 'dirigen',
 'exclusivamente',
 'dirección',
 'mencionada',
 'anteriormente',
 'si',
 'recibió',
 'correo',
 'electrónico',
 'accidentalmente',
 'elimínelo',
 'sistema',
 'envíe',
 'terceros',
 'dirección',
 'correo',
 'electrónico',
 'junto',
 'información',
 'facilite',
 'facilitado',
 'tratados',
 'tk',
 'elevadores',
 'españa',
 'slu',
 'calidad',
 'responsable',
 'tratamiento',
 'finalidad',
 'gestionar',
 'mantener',
 'contactos',
 'relaciones',
 'produzcan',
 'consecuencia',
 'relación',
 'mantiene',
 'base',
 'jurídica',
 'legitima',
 'tratamiento',
 'consentimiento',
 'interés',
 'legítimo',
 'necesidad',
 'gestionar',
 'relación',
 'contractual',
 'similarxd',
 'plazo',
 'conservación',
 'datos',
 'vendrá',
 'determinado',
 'relación',
 'mantiene',
 'información',
 'respecto',
 'ejercer',
 'derechos',
 'acceso',
 'rectificación',
 'cancelaciónsupresión',
 'oposición',
 'limitación',
 'portabilidad',
 'dirija',
 'comunicación',
 'escrito',
 'tk',
 'elevadores',
 'españa',
 'slu',
 'calle',
 'cifuentes',
 'sn',
 'madrid',
 'spain',
 'correo',
 'electrónico',
 'lopdtkeestkelevatorcom',
 'mailtolopdtkeestkelevatorcom',
 'acompañándose',
 'fotocopia',
 'dni',
 'documento',
 'identificativo',
 'equivalentexd']

In [22]:
test_1 = df_grouped['Cuerpo'].iloc[948]

In [29]:
clean_text(test_1)

'ech dcl error ipxd xd xd xd cuenta doble columna lateral hora configurar tubos protección cabina enviado equipo estándar recortar tubos montar paneles centrales cada columnaxd xd xd xd lado contrario envío tubos normales obra colocan hueco intermedioxd xd xd xd envíar tubos l mm taponesxd xd xd xd xd xd xd xd xd xd xd xd manuel lópez mayoxd xd xd xd posventaxd after sales xd pi parsi calle n sevilla spainxd tel xd repuestos sparepartshidralcom xd incidencias claimshidralcom xd xd xd xd xd xd'