In [31]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder
from sklearn.feature_extraction.text import TfidfVectorizer
import openpyxl

In [32]:
path = '../data/Automatizacion_Clasificacion_EDA_HIDRAL.xlsx'

df = pd.read_excel(path)
df.head()

,CodigoTarea,IDEmail,Cuerpo,Dueño,FechaTerminado,Categoria,Idioma,Tiempo,Impacto
0,1034687,1463755,Buenas\n\nRecibo 417.28 para 136791. que salga...,OM,2023-01-03,PAGO,E,3.0,C
1,1033931,1462657,\n________________________________\n\nDe: Mar...,MLM,2023-01-03,SEG,I,3.0,F
2,1033931,1463513,\n________________________________\n\nDe: Mar...,MLM,2023-01-03,SEG,I,3.0,F
3,1035108,1464310,"Buenos días,\n¿Podéis enviar este pedido a nue...",OM,2023-01-03,SEG,E,3.0,C
4,1035108,1464556,Imprimir de nuevo\n\n\nOscar Martín\nPosventa ...,OM,2023-01-03,SEG,E,3.0,C

In [33]:
df['Categoria'] = df['Categoria'].fillna("sin categoría")
df['Cuerpo'] = df['Cuerpo'].fillna("sin cuerpo")
df['Tiempo'] = df['Tiempo'].fillna("sin tiempo")
df['Impacto'] = df['Impacto'].fillna("sin impacto")

In [34]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52578 entries, 0 to 52577
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   CodigoTarea     52578 non-null  int64
 1   IDEmail         52578 non-null  int64
 2   Cuerpo          52578 non-null  object
 3   Dueño           52578 non-null  object
 4   FechaTerminado  52578 non-null  datetime64[ns]
 5   Categoria       52578 non-null  object
 6   Idioma          52578 non-null  object
 7   Tiempo          52578 non-null  object
 8   Impacto         52578 non-null  object
dtypes: datetime64[ns](1), int64(2), object(6)
memory usage: 3.6+ MB

In [35]:
test_1 = df['CodigoTarea'].head(20)

In [36]:
test_1

0     1034687
1     1033931
2     1033931
3     1035108
4     1035108
5     1034957
6     1030475
7     1028139
8     1030475
9     1034992
10    1028139
11    1028139
12    1034602
13    1028139
14    1025353
15    1028139
16    1028139
17    1030475
18    1030475
19    1028139
Name: CodigoTarea, dtype: int64

In [40]:
df[df['CodigoTarea'] == 1028139]

,CodigoTarea,IDEmail,Cuerpo,Dueño,FechaTerminado,Categoria,Idioma,Tiempo,Impacto
7,1028139,1459774,"Hi,\n\nIf you want for example the sling or ot...",LC,2023-01-03,OMOD,I,3.0,C
10,1028139,1453921,"Hello,\n\n \n\nI am looking for the platform o...",LC,2023-01-03,OMOD,I,3.0,C
11,1028139,1459006,"Hello,\n\n \n\nDo you already have a answer fo...",LC,2023-01-03,OMOD,I,3.0,C
13,1028139,1464602,"Dear Customer,\n\nFind attached the offer of t...",LC,2023-01-03,OMOD,I,3.0,C
15,1028139,1462116,"Dear Customer,\n\nFind attached the offer of t...",LC,2023-01-03,OMOD,I,3.0,C
16,1028139,1456265,"Hello,\n\n \n\nI am also asked for the price o...",LC,2023-01-03,OMOD,I,3.0,C
19,1028139,1456206,"Dear Customer,\n\nFind attached the offer of t...",LC,2023-01-03,OMOD,I,3.0,C
21,1028139,1463251,"Hello,\n\nThese beams are not included, only t...",LC,2023-01-03,OMOD,I,3.0,C
24,1028139,1461186,"Hello Ben,\n\nthat's the thing, for me complet...",LC,2023-01-03,OMOD,I,3.0,C
29,1028139,1459792,We are going there tomorrow so i will let them...,LC,2023-01-03,OMOD,I,3.0,C
36,1028139,1462130,"Hello,\n\n \n\nIs this with the 2 beams as in ...",LC,2023-01-03,OMOD,I,3.0,C
37,1028139,1459276,"Hello Luis,\n\n \n\nWhat do you mean with only...",LC,2023-01-03,OMOD,I,3.0,C
38,1028139,1461068,"\n\nHello Luis,\n\n \n\nWe need a quote for t...",LC,2023-01-03,OMOD,I,3.0,C
39,1028139,1459193,"Hello,\n\ndo you want price of a complete new ...",LC,2023-01-03,OMOD,I,3.0,C

In [51]:
df_grouped = df.groupby(by='CodigoTarea').agg({
    'IDEmail': 'first',
    'Cuerpo': '.'.join,
    'FechaTerminado': 'first',
    'Categoria': 'first',
    'Idioma': 'first',
    'Tiempo': 'first',
    'Impacto': 'first'
}).reset_index()
df_grouped.head()

,CodigoTarea,IDEmail,Cuerpo,FechaTerminado,Categoria,Idioma,Tiempo,Impacto
0,677063,1427595,\tAlgunos contactos que recibieron este mensaj...,2023-05-03,SEG,E,3.0,C
1,778039,1478601,"Dear Oscar,\n\nPls. see in attach. \n\nPls. in...",2023-02-01,OMOD,I,4.0,F
2,804822,1289336,"Hola,\n\n \n\nVamos a proceder a pedir este ma...",2023-05-03,OMOD,E,4.0,F
3,856087,1268401,Buen día. \n\n \n\nLas situaciones son muy sim...,2023-03-24,SEG,E,6.0,F
4,880718,1425384,"Buenos días,\n\n ...",2023-06-01,VR,E,3.0,D

In [52]:
df_grouped[df_grouped['CodigoTarea'] == 1028139]

,CodigoTarea,IDEmail,Cuerpo,FechaTerminado,Categoria,Idioma,Tiempo,Impacto
255,1028139,1459774,"Hi,\n\nIf you want for example the sling or ot...",2023-01-03,OMOD,I,3.0,C

In [53]:
df_grouped['Categoria'].unique()

array(['SEG', 'OMOD', 'VR', 'I', 'PREP', 'C', 'D', 'SAT', 'PMOD', 'ING',
       'DOC', 'OREP', 'PAGO', 'CT', 'sin categoría', 'MO', 'O', 'SM',
       'PC', 'PAD', 'PL', 'P', 'F', 'VP', 'SLM'], dtype=object)

In [54]:
df_grouped['Categoria'].value_counts()

Categoria
SEG              3196
OMOD             2714
PREP             2586
OREP             2478
PMOD             2023
SAT              1314
I                1305
C                 338
DOC               196
PAGO               90
D                  89
sin categoría      80
CT                 48
VR                 34
O                  17
MO                  9
VP                  9
PL                  6
P                   4
F                   3
ING                 2
PAD                 2
SM                  1
PC                  1
SLM                 1
Name: count, dtype: int64

In [56]:
# Definir las categorías a mantener
categorias_a_mantener = ['SEG', 'OMOD', 'PREP', 'OREP', 'PMOD', 'SAT', 'I']

# Filtrar el DataFrame
df_filtrado = df_grouped[df_grouped['Categoria'].isin(categorias_a_mantener)]

# Mostrar el DataFrame filtrado
df_filtrado.shape

(15616, 8)

In [57]:
df_grouped.shape

(16546, 8)

In [58]:
df_filtrado['FechaTerminado'].max()

Timestamp('2023-12-29 00:00:00')