In [1]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder
from sklearn.feature_extraction.text import TfidfVectorizer
import openpyxl

In [3]:
path = '../data/Consulta_JMA.xlsx'

df = pd.read_excel(path)
df.head()

,CodigoTarea,IDEmail,Cuerpo,FechaCreacion,Categoria,Idioma
0,1094561,1379091,"Buenos días Manuel,_x000d_\n_x000d_\nPasarme ...",2023-06-02,OMOD,E
1,1194837,1391986,"Hola,_x000d_\n_x000d_\n¿Espero que estés bien?...",2024-02-16,I,E
2,1225091,1391986,"Hola,_x000d_\n_x000d_\n¿Espero que estés bien?...",2024-04-25,I,E
3,1034918,1464101,"Buenos días,_x000d_\n_x000d_\n _x000d_\n_x000d...",2023-01-01,OMOD,E
4,1034932,1464115,Adjunto les enviamos PEDIDOS (PDF)_x000d_\n_x0...,2023-01-02,PMOD,E

In [4]:
df['Categoria'] = df['Categoria'].fillna("sin categoría")
df['Cuerpo'] = df['Cuerpo'].fillna("sin cuerpo")

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 67213 entries, 0 to 67212
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   CodigoTarea    67213 non-null  int64
 1   IDEmail        67213 non-null  int64
 2   Cuerpo         67213 non-null  object
 3   FechaCreacion  67213 non-null  datetime64[ns]
 4   Categoria      67213 non-null  object
 5   Idioma         67213 non-null  object
dtypes: datetime64[ns](1), int64(2), object(3)
memory usage: 3.1+ MB

In [10]:
df_grouped = df.groupby(by='CodigoTarea').agg({
    'IDEmail': 'first',
    'Cuerpo': 'first',
    'FechaCreacion': 'first',
    'Categoria': 'first',
    'Idioma': 'first'
}).reset_index()
df_grouped.head()

,CodigoTarea,IDEmail,Cuerpo,FechaCreacion,Categoria,Idioma
0,1034918,1464101,"Buenos días,_x000d_\n_x000d_\n _x000d_\n_x000d...",2023-01-01,OMOD,E
1,1034932,1464115,Adjunto les enviamos PEDIDOS (PDF)_x000d_\n_x0...,2023-01-02,PMOD,E
2,1034934,1464117,\t_x000d_\n\t_x000d_\n <http://imem.com/wp-con...,2023-01-02,OMOD,E
3,1034938,1464121,Proveedor: HIDRAL SA Dirección: carmen.diez@hi...,2023-01-02,PMOD,E
4,1034947,1464130,Bom dia _x000d_\n_x000d_\n _x000d_\n_x000d_\nN...,2023-01-02,OMOD,E

In [12]:
df_grouped['Categoria'].unique()

array(['OMOD', 'PMOD', 'PREP', 'I', 'OREP', 'SAT', 'SEG'], dtype=object)

In [13]:
df_grouped['Categoria'].value_counts()

Categoria
SEG     4306
OMOD    4021
OREP    3689
PREP    3499
PMOD    2999
I       1486
SAT     1386
Name: count, dtype: int64

In [14]:
df_grouped.shape

(21386, 6)

In [17]:
df_grouped['FechaCreacion'].max()

Timestamp('2024-10-18 00:00:00')

In [18]:
df_grouped['Idioma'].value_counts()

Idioma
E    21386
Name: count, dtype: int64

In [20]:
df_grouped['Cuerpo'].iloc[3409]

'Buenas tardes, _x000d_\n_x000d_\n _x000d_\n_x000d_\nSolicitamos precio y plazo del siguiente material:_x000d_\n_x000d_\n _x000d_\n_x000d_\nmanómetro adjunto en la foto. Hidral_x000d_\n_x000d_\n _x000d_\n_x000d_\nSaludos cordiales._x000d_\n_x000d_\n _x000d_\n_x000d_\nAtentamente, _x000d_\n_x000d_\n _x000d_\n_x000d_\nJuan Carlos Pérez Piñero_x000d_\nSpare Parts Department / Field Engineering & Processes_x000d_\n_x000d_\n _x000d_\n T:+34 648 658 044, 26726, tke10008000@tkelevator.com <mailto:tke10008000@tkelevator.com> _x000d_\n_x000d_\nTK Elevator, S.L.U. Avenida Marcelino Camacho nº 9 28830 San Fernando de Henares, España, www.tkelevator.com <http://www.tkelevator.com/> _x000d_\n_x000d_\n _x000d_\n_x000d_\n <https://www.tkelevator.com/es-es/sostenibilidad/sostenibilidad/> _x000d_\n_x000d_\n _x000d_\n_x000d_\nAviso de confidencialidad_x000d_\n_x000d_\nEste mensaje y los documentos adjuntos son confidenciales y se dirigen exclusivamente a la dirección mencionada anteriormente. Si recibió este correo electrónico accidentalmente, elimínelo de su sistema y no lo envíe a terceros. _x000d_\nSu dirección de correo electrónico junto con la información que nos facilite y nos haya facilitado, son tratados por TK Elevadores España S.L.U., en calidad de responsable del tratamiento, con la finalidad de gestionar y mantener los contactos y relaciones que se produzcan como consecuencia de la relación que mantiene con nosotros. La base jurídica que legitima este tratamiento, será su consentimiento, el interés legítimo o la necesidad para gestionar una relación contractual o similar._x000d_\nEl plazo de conservación de sus datos vendrá determinado por la relación que mantiene con nosotros. Para más información al respecto, o para ejercer sus derechos de acceso, rectificación, cancelación/supresión, oposición, limitación o portabilidad, dirija una comunicación por escrito a TK Elevadores España S.L.U. Calle Cifuentes s/n, 28021, Madrid. Spain, o por correo electrónico a lopd.tkees@tkelevator.com <mailto:lopd.tkees@tkelevator.com>  acompañándose con fotocopia de DNI o documento identificativo equivalente._x000d_\n_x000d_\n _x000d_\n'